.chroniclesHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
    background-color: #111;
}

.chroniclesTitle {
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    color: #ff8c00;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
}

.chroniclesSubtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-top: 1rem;
    max-width: 800px;
}

@media (max-width: 768px) {
    .chroniclesSubtitle {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
    .chroniclesTitle {
        font-size: 3rem;
    }
}